/* Global Styles */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Animasi berdenyut untuk pin lokasi */
.ping-animation {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}